body {
	font-family: 'Alegreya', serif;
	font-size: 16px;
	background: #e1dcc9;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #e1dcc9, #efb758);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #e1dcc9, #efb758);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* container-fluid estilos generales*/

.container-fluid {
	margin: 0%;
	padding: 0%;
	height: auto;
	font-family: 'Alegreya', serif;
}

header {
	background-color: #e1dcc9;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	font-family: 'Alegreya', serif;
}

/* estilos nav*/

.navbar .container-fluid {
	block-size: auto;
	font-size: 1.5em;
	background-color: #e1dcc9;
}

.navbar .container-fluid .navbar-brand {
	font-weight: 500;
	font-size: 1em;
}

.collapse .navbar-nav {
	margin-left: auto;
}

/* estilos seccion main */

.container-fluid .main-row {
	background-image: url(../images/escritorio2.jpg);
	background-size: cover;
	height: 550px;
	padding-bottom: 32px;
	padding-top: 32px;
	block-size: auto;
	margin-bottom: auto;
}

.image-fluid {
	display: block;
	margin-left: auto;
	margin-right: auto;
	block-size: 200px;
	padding: 0px;
	box-shadow: 0px 0px 8px black;
	align-content: flex-end;
	border-radius: 4px;
}

.container-fluid .main-row .col-md-12 {
	text-align: center;
	padding-top: 16px;
	padding-bottom: 32px;
}

.container-fluid .main-row .col-md-12 .description {
	color: black;
	text-shadow: 0px 0px 8px white;
	font-weight: 500;
	font-size: 2em;
}


.subtitle {
	height: 100%;
	width: 100%;
	text-align: center;
	text-shadow: 0px 0px 16px gray;
	padding: .5em;
}

/* seccion servicios*/
#section1 {
	margin-top: 3em;
	margin-bottom: 3em;
}
.container-fluid .services {
	block-size: auto;
	justify-content: center;
}
#correccion {
	background-color:#e1dcc9;
	margin: 16px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #17395c;
	max-width: 100%;
	max-height: auto;
	padding: 1em;
}
#asesoramiento {
	background-color:#e1dcc9;
	margin: 16px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #17395c;
	max-width: 100%;
	max-height: auto;
	padding: 1em;
}
#metodologia {
	background-color:#e1dcc9;
	margin: 16px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #17395c;
	max-width: 100%;
	max-height: auto;
	padding: 1em;
}
.descripcion {
	text-align: center;
	padding-top: 16px;
}

/* quienes somos*/
#section2 {
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 32px;
}
.about {
	padding: 16px;
}

/*recursos*/

.section3 {
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 32px;
}
.resource {
	padding: 32px;
}

/* footer */

footer {
	font-family: 'Alegreya' , serif;
}

#contacto {
	block-size: 250px;
	margin: 32px;
	padding: 32px;
}

h3 {
	text-align: center;
	font-weight: bold;
	padding: 0%;
	margin: auto;
}

h4 {
	text-align: center;
}




